<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Student Login</h1>

    <form action="/myapp/student_login/" method="POST">

        {% csrf_token %}

        <!-- id <input type="text" name="id" id=""> -->
        username <input type="text" name="username" id="">
        password <input type="text" name="password" id="">

        <input type="submit" value="Submit">

        <a href="/myapp/register/">Register</a>

    </form>
    
</body>
</html>